<nav class="navbar">
  <span class=" mb-0 h1 logo">ShortLink</span>
</nav>
<div class="container mt-5">
    <div class="p-5">
        <div class="card shadow">
            <div class="card-body">
                <%= form_for @link, remote: true do |form| %>
                    <h5 class="card-title">What URL will you shorten today?</h5>
                    <%= form.text_field :original_url, class: "form-control", placeholder: "Enter URL" %>
                    <%= form.submit class: "submit btn mt-3" %>
                <% end %>
            </div>
            <div id="short-link" class="ml-3 mb-3">
            </div>
        </div>
    </div>
</div> 
<div class="container github">
    <a href="https://github.com/lostviolinist/link-shortener" class="h5 repo" target="_blank"> Github </a>
</div>