/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background: rgb(219,187,240);
    background: linear-gradient(90deg, rgba(219,187,240,1) 53%, rgba(124,233,255,1) 100%);
 }

 .logo {
     color:#4C4452;
     font-family: 'Fredoka One', cursive;
 }

 .alert-link{
    color:#49dced;
 }

 .submit{
    border-color:#49dced;
    color:#49dced;
 }

 .submit:hover{
    background-color:#49dced;
    color: white;
 }

 .alert-link:hover {
     color: #49dced;
 }

 .card {
    border-radius: 16px;
    background: #ffffff;
    box-shadow:  15px 15px 50px #bababa, 
             -15px -15px 50px #ffffff;
 }